external_auth:
  pam:
    {{api_user}}:
      - '@runner'
      - '@wheel'
      - '@jobs'
      - test.*
    {{foreman_proxy_user}}:
      - '@runner'
      - '@wheel'
      - '@jobs'
      - test.*

rest_cherrypy:
  port: 9191
  host: 0.0.0.0
  ssl_key: {{puppet_ssl_key}}
  ssl_crt: {{puppet_ssl_cert}}
  debug: True
  disable_ssl: False
  collect_stats: False
