---
:proto: https
:host: foreman.example.com
:port: 443
# if using http with ssl certificates
:ssl_ca: "/var/lib/puppet/ssl/certs/ca.pem"
:ssl_cert: "{{ssl_dir}}/{{ssl_cert}}"
:ssl_key: "{{ssl_dir}}/{{ssl_key}}"
# if using http with username and password instead of https with certicates
#:username: admin
#:password: changeme
:timeout:  10
:salt:  /usr/bin/salt
:upload_grains:  true
