# /etc/foreman-proxy/settings.d/salt.yml
:enabled: https
:use_api: true
:api_auth: pam
:api_url: https://{{ansible_fqdn}}:9191
:api_username: bob
:api_password: bob
:salt_command_user: root
:autosign_file: {{autosign_file}}
